@import '/normalize.css';
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input:hover, textarea:hover {
  background: #fffff0;
  border: 2px solid #efe816;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type=radio]:hover, input[type=checkbox]:hover {
  box-shadow: 0 0 10px #efe816;
}

input[type=submit]:hover, input[type=reset]:hover {
  background: #c9c9c9;
  border: 2px solid #6c6c6c;
}

input[type=submit]:active, input[type=reset]:active {
  background: #8f8f8f;
}

/*mobile*/
form {
  max-width: 35rem;
  margin: 2rem auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0.7rem 0;
}

.row-radio {
  flex-direction: column;
  align-items: flex-start;
  margin: 1.2rem 0 0.1rem 0;
}

label, .label-radio, .label-checkbox {
  margin: 0 0.2rem 0.4rem 0;
}

.label-radio {
  margin: 0 0.3rem 0.4rem 0;
}

input {
  padding: 0.7rem;
}

textarea {
  padding: 0.1em;
}

input, textarea {
  width: 100%;
}

.input-radio, input[type=checkbox] {
  margin: 0 0.2rem 0.4rem 0;
}

input[type=checkbox], input[type=radio] {
  width: unset;
}

input[type=submit], input[type=reset] {
  margin: 0 0.5rem 0 0;
  max-width: 8.5em;
}

.label-link {
  margin: 0 0 0 1.125rem;
  text-decoration: none;
  color: #000;
}
@media (min-width: 23.625rem) {
  .label-link {
    margin: unset;
  }
}

@media (min-width: 30.5rem) {
  .row {
    flex-wrap: nowrap;
  }
  .row-radio {
    flex-direction: row;
  }
  .row-radio, .row-checkbox {
    margin: 1rem 0 0.7rem 0;
  }
  label {
    min-width: 20%;
  }
  .label-textarea {
    align-self: flex-start;
  }
  .label-checkbox {
    margin: 0 0.2rem 0 0;
  }
  input {
    margin: 0 0 0.6rem 0;
  }
  input[type=checkbox], input[type=submit], p {
    margin: 0 0.2rem 0 20%;
  }
  input[type=submit] {
    margin: 0 0.5rem 0 20%;
  }
}