$desktop: 30.5rem;

@mixin breakpoint($screen-width) {
    @media (min-width: $screen-width){
        @content;
    }
}

form {
    max-width: 35rem;
    margin: 2rem auto;
}

.row {
    margin: 0 0 0.7rem 0;
}

.row-radio, .row-checkbox {
    margin: 1rem 0 0.7rem 0;
}

label {
    display: block;
    margin: 0 0 0.4rem 0;

    @include breakpoint($desktop) {
        display: inline-block;
        margin: 0 0 0.6rem 0;
        min-width: 25%;
    }
}

.label-radio, .input-radio  {
    display: inline-block;
}

.label-radio {
    margin: 0 1rem 0 0;
}

.label-textarea {
    @include breakpoint($desktop){
        vertical-align: top;
    }
}

.label-checkbox {
    display: inline;
}

input {
    padding : 0.7rem;
}

textarea {
    padding: 0.1em;
}

input, textarea {
    width: 100%;

    @include breakpoint($desktop) {
        width: 74%;
    }
}

input[type="checkbox"], input[type="radio"] {
    width: unset;
}

input[type="checkbox"], input[type="submit"], p {
    @include breakpoint($desktop){
        margin: 0 0 0 26%;
    }
}

input[type="submit"], input[type="reset"] {
    max-width: 8.5em;
}

.label-link {
    margin: 0 0 0 1.125rem;

    text-decoration: none;
    color: #000;

    @include breakpoint(24.8125rem) {
        margin: unset;
    }
}