@import '/normalize.css';
/*mobile*/
/* rows */
.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 0 0.7rem 0;
}

.row-radio {
  flex-direction: column;
  align-items: flex-start;
}

.row-radio, .row-checkbox {
  margin: 1.2rem 0 0.7rem 0;
}

/* labels */
label {
  margin: 0 0 0.4rem 0;
}

.label-checkbox {
  margin: 0;
}

.label-radio {
  margin: 0 1rem 0 0;
}

/* inputs */
input {
  padding: 0.7rem;
}

textarea {
  padding: 0.1em;
}

input, textarea {
  width: 100%;
}

.input-radio, input[type=checkbox] {
  margin: 0 0.2rem 0 0;
}

input[type=checkbox], input[type=radio] {
  width: unset;
}

input[type=submit], input[type=reset] {
  margin: 0 0.5rem 0 0;
  max-width: 8.5em;
}

/* other */
.label-link {
  margin: 0 0 0 1.125rem;
  text-decoration: none;
  color: #000;
}
@media (min-width: 23.625rem) {
  .label-link {
    margin: unset;
  }
}

/* desktop */
@media (min-width: 30.5rem) {
  form {
    max-width: 35rem;
    margin: 2rem auto;
  }
  /* rows */
  .row {
    flex-wrap: nowrap;
  }
  .row-radio {
    flex-direction: row;
  }
  /* labels */
  label {
    margin: 0;
    min-width: 22%;
  }
  .label-textarea {
    align-self: flex-start;
  }
  .label-checkbox {
    margin: 0 0.2rem 0 0;
  }
  /* inputs */
  input[type=checkbox] {
    margin: 0 0.2rem 0 22%;
  }
  input[type=submit], p {
    margin: 0 0.5rem 0 22%;
  }
}