@import '/normalize.css';
form {
  max-width: 37.5rem;
  margin: 2rem auto;
}

.row, .row-radio, .row-checkbox {
  margin: 0 0 0.7rem 0;
}

.row-radio, .row-checkbox {
  margin-top: 1rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
}

.label-checkbox {
  display: inline;
}

.input-radio, .label-radio {
  display: inline-block;
}

.label-radio {
  margin-right: 1rem;
}

input, textarea {
  width: 100%;
}

input {
  padding: 0.7rem;
}

textarea {
  padding: 0.1em;
}

input[type=checkbox], input[type=radio] {
  width: unset;
}

.label-link {
  margin: 1.125rem;
  text-decoration: none;
}

input[type=submit], input[type=reset] {
  max-width: 8.875em;
}