.flex-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

@media screen and (min-width: 34em){
    .flex-container {
        flex-flow: row wrap;
        justify-content: center;
    }
}