body {
    padding: 2rem;
}

.card {
    transition: all 0.5s ease;
}

.card-1 {
    font-family: 'Roboto';
}

.card-2 {
    font-family: 'Roboto';
    font-style: italic;
}

.card-3 {
    font-family: 'Roboto';
    font-weight: bold;
}