.hamburger {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: url('../assets/menu.png') no-repeat 30px center;
    cursor: pointer;
    z-index: 5;
}

.hamburger.active {
    background: url('../assets/close.png') no-repeat 25px center;
    filter: invert(1);
    cursor: pointer;
}

.content {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #aaa;
    z-index: 1;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
    z-index: 2;
}

.mobile-menu.active {
    background-color: #fff;
    transform: translateX(0);
}

.mobile-menu ul li a {
    font-size: 1.75rem;
    color: #111;
}