@import '/normalize.css';
form {
  max-width: 35rem;
  margin: 2rem auto;
}

.row {
  margin: 0 0 0.7rem 0;
}

.row-radio, .row-checkbox {
  margin: 1rem 0 0 0;
}

label {
  display: block;
  margin: 0 0 0.4rem 0;
}
@media (min-width: 30rem) {
  label {
    display: inline-block;
    margin: 0 0 0.6rem 0;
    min-width: 25%;
  }
}

.label-checkbox {
  display: inline;
}

.input-radio, .label-radio {
  display: inline-block;
}

.label-radio {
  margin: 0 1rem 0 0;
}

@media (min-width: 30rem) {
  .label-textarea {
    vertical-align: top;
  }
}

input, textarea {
  width: 100%;
}
@media (min-width: 30rem) {
  input, textarea {
    width: 74%;
  }
}

input {
  padding: 0.7rem;
}

textarea {
  padding: 0.1em;
}

input[type=checkbox], input[type=radio] {
  width: unset;
}

@media (min-width: 30rem) {
  input[type=checkbox], input[type=submit], p {
    margin: 0 0 0 26%;
  }
}

.label-link {
  margin: 1.125rem;
  text-decoration: none;
  color: #000;
}
@media (min-width: 24.8125rem) {
  .label-link {
    margin: unset;
  }
}

input[type=submit], input[type=reset] {
  max-width: 8.875em;
}