body {
    background-color: #efefef;
    color: #1d2731;
    font-family: Georgia;
}

.header {
    padding: 1em;
    background-color: #07889b;

    color: #efefef;
    text-align: center;
}

.content-container {
    padding: 2em 2rem;
    background-color: #fff;
}

.main {
    border-bottom: 1px solid #a9a9a9;
}

.aside {
    padding: 1em 0 0 0;
}

.footer {
    padding: 1em;
    background-color: #a9a9a9;
    text-align: center;
}

@media (min-width: 40em) {
    .header {
        padding: 1.5em 0 1.5em 2em;
        text-align: left;
    }

    .content-container {
        padding: 1.5rem 0;
        overflow: auto;
    }

    .main {
        float: left;
        width: 60%;
        padding: 0 1rem 0 2rem;
        border: none;
    }

    .aside {
        margin: 0 0 0 60%;
        width: auto;
        padding: 0 2rem 0 2rem;
        border-top: none;
    }
}

@media (min-width: 64em) {
    .main {
        width: 65%;
    }
}

@media (min-width: 80em) {
    .article {
        float: left;
        width: 45%;
        padding: 0 2rem 0 0;
    }
}