body {
    background-color: #efefef;
    color: #1d2731;            
    font-family: Georgia; 
}

.header {
    padding: 1em 0 1em 0;
    background-color: #07889b; 
    
    color: #efefef;      
    text-align: center;       
}

.page__heading {
}

.nav {
    background-color: #ff3b3f; 
}

.nav__ul {
    padding: 0;
    margin: 0;
}

.nav__li {
    border-bottom: 1px solid #efefef;
}

.nav__a  {
    display: block; 
    padding: 0.6em 2rem;
    text-decoration: none; 
}

.nav__ul :visited {
    color: #fff;
}

.nav__ul :hover {
    background-color: #000;
    color: #efefef;
}

.nav__active {
    background-color: #fff;
    color: #000;
}

.content-container {
    padding: 2em 2rem;
    background-color: #fff;
}

.aside {
    padding: 2em 2rem;
    border-top: 1px solid #a9a9a9;
}

.footer {
    padding: 1em;
    background-color: #a9a9a9;
    text-align: center; 
}

@media (min-width: 40em) {
    .header {
        padding: 1.5em 0 1.5em 2em;
        text-align: left;
    }

    .nav__ul {
        padding: 0 2rem;
    }

    .nav__li {
        display: inline-block;
        border: none;
        width: auto;
    }

    .nav__a {
        padding: 0.7em 1.2rem;
    }
    
    .content-container {
        padding: 1.5rem 0;
        overflow: auto;
    }

    .main {
        float: left;
        width: 60%;
        padding: 0 1rem 0 2rem;
    }

    .aside {
        margin: 0 0 0 60%;
        width: auto;
        padding: 0 2rem 0 2rem;
        border-top: none;
    }
}