@import '/normalize.css';
.card-container {
  display: flex;
  flex-flow: row wrap;
}
.card-container .card {
  width: 200px;
  height: 150px;
  margin: 2rem;
  border: 1px solid black;
  background-color: rgb(166, 97, 184);
  color: black;
  text-align: center;
}
.card-container .card1 {
  font-size: 0.875rem;
}
.card-container .card2 {
  font-size: 1.125rem;
}
.card-container .card3 {
  font-size: 1.25rem;
}