body {
    background-color: #efefef;
    color: #1d2731;
    font-family: Georgia;
}

.page-wrapper {
    background-color: #ff3b3f;
}

.header {
    padding: 0.5em;
    background-color: #07889b;

    color: #efefef;
    text-align: center;

    background-image: url(/assets/images/pexels-pixabay-2150.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-container {
    padding: 1rem 1rem;
    background-color: #fff;
}

.main, aside {
    padding: 1rem 1rem;
    background-color: #fff;

    border-bottom: 1px solid #a9a9a9;
}

.article__img {
    max-width: 100%;

    margin: 0 2em 0.5em 0;
}

.aside {
    border: none;
}

.aside__img {
    max-width: 90%;
}

.footer {
    padding: 1em;
    background-color: #a9a9a9;
    text-align: center;
}

@media (min-width: 40em) {
    .header {
        padding: 1.5em 0 1.5em 2em;
        text-align: left;
    }

    .content-container {
        padding: 1.5rem 0;
        overflow: auto;
    }

    .main {
        padding: 0 1rem 0 1rem;
        border: none;
    }

    .aside {
        padding: 0 1rem 0 1rem;
        border-top: none;
    }

    .aside__img {
        margin: 0 2% 0.5% 0;
    }
}

@media (min-width: 80em) {
    .article {
        float: left;
        width: 45%;
        padding: 0 1rem 1rem 1rem;
    }

    .row {
        clear: both;
    }
}