$btn-bg-default: #3196cb;

@mixin btn-hover($btn-bg-color:orange) {
    $hover-color: saturate($btn-bg-color, 10%);
    $hover-color: darken($hover-color, 10%);

    background: $hover-color;
}

%button-basic {
    margin: 1em;
    padding: 2em 4em;
    border-radius: 4px;
    border: 1px solid black;
    background: $btn-bg-default;

    font-size: 14px;
    text-align: center;

    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;

    .btn {
        @extend %button-basic;

        &:hover {
            @include btn-hover($btn-bg-default);
        }
    }
}