.card-container {
    position: relative;
    
    padding: 5px;
}

.card {
    position: absolute;
}

.card-2 {
    top: calc(5px + 385px + 2*10px); /*padding container + prior cards height + 2x margin*/
}

.card-3 {
    top: calc(5px + 2*(385px + 2*10px));
}

@media screen and (min-width: 34em){
        
    .card-2 {
        top: unset;
        left: calc(5px + 250px + 2*10px);
    }
    
    .card-3 {
        top: calc(5px + 385px + 2*10px);
    }
}

@media screen and (min-width: 52em){
      
    .card-3 {
        top: unset;
        left: calc(5px + 2*(250px + 2*10px));
    }
}